html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #2c1810;
}

.logo a {
    color: white;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
}

.logo i {
    color: #d4a373;
    margin-right: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 18px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;

}

.nav-links a:hover {
    color: #d4a373;
}

.btn {
    padding: 12px 24px;

    background-color: #d4a373;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: #b57f50;
}    

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px 8%;

    min-height: 90vh;

    background-color: #fdfaf6;
}



.hero-content {
    max-width: 550px;
}



.hero-content h1 {
    font-size: 55px;
    color: #2c1810;
    margin-bottom: 20px;
}


.hero-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 30px;
}


.hero-buttons {
    display: flex;
    gap: 20px;
}



.btn-outline {
    padding: 12px 24px;
    border: 2px solid #d4a373;
    color: #d4a373;
    text-decoration: none;
    border-radius: 8px;
    transition: .3s;
}

.btn-outline:hover {
    background-color: #d4a373;
    color: white;
}



.hero-image img {
    width: 550px;
    height: 500px;
    max-width: 100%;

}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
    gap: 50px;
}

.about-image img {
    width: 500px;
    max-width: 100%;
    border-radius: 15px;
}

.about-content {
    max-width: 550px;

}

.about-content h2 {
    font-size: 42px;
    color: #2c1810;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 17px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 25px;
}

.about-btn {
    background-color: #d4a373;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.about-btn:hover {
    background-color: #b57f50;
    color: blue;
}

.menu {
    padding: 80px 8%;
    background: #f8f8f8;
    text-align: center;
}

.menu h2 {
    font-size: 42px;
    color: #2c1810;
    margin-bottom: 50px;

}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.menu-card {
    width: 320px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.menu-card:hover {
    transform: translatey (-10px);
}

.menu-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-card h3 {
    margin: top 20px;
    color: #2c1810;

}

.menu-card p {
    padding: 15px;
    color: #555;
    line-height: 1.6;

}

.price {
    display: block;
    font-size: 22px;
    color: #d4a373;
    font-weight: bold;
    margin-bottom: 15px;
}

.menu-card button {
    margin-bottom: 25px;
    background: #d4a373;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-card button:hover {
    background: #b57f50;
    color: blue;
}

.services {
    padding: 80px 8%;
    background: white;
    text-align: center;
}

.services h2 {
    font-size: 42px;
    color: #2c1810;
    margin-bottom: 50px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-card {
    width: 300px;
    background: #f8f8f8;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;

}

.service-card:hover {
    transform: translatey(-10px);
}

.service-card i {
    font-size: 50px;
    color: #d4a373;
    margin-bottom: 20px
}

.service-card h3 {
    margin-bottom: 15px;
    color: #2c1810;
}

.service-card p {
    color: #555;
    line-height: 1.7;
}

.service-btn {
    margin-top: 50px;
    padding: 14px 30px;
    border: none;
    background: #d4a373;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    transition: .3s;
}

.service-btn:hover {
    background: #b57f50;
    color: blue;
}

.gallery {
    padding: 80px 8%;
    background: #f8f8f8;
    text-align: center;
}

.galley h2 {
    font-size: 42px;
    color: #2c1810;
    margin-bottom: 50px;

}

.galley-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.gallery-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: .4s;
}

.gallery-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.testimonials {
    padding: 80px 8%;
    background: #ffffff;
    text-align: center;
}

.testimonials h2 {
    font-size: 42px;
    color: #2c1810;
    margin-bottom: 50px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.testimonial-card {
    width: 300px;
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.testimonial-card:hover {
    transform: translatey(-10px);
}

.testimonial-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.testimonial-card h3 {
    color: #2c1810;
    margin-bottom: 10px;
}

.testimonial-card p {
    color: #555;
    line-height: 1.7;
}

.review-btn {
    margin-top: 40px;
    padding: 14px 30px;
    background: #d4a373;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.review-btn:hover {
    background: #b57f50;
}

.team {
    padding: 80px 8%;
    background: #f8f8f8;
    text-align: center;
}

.team h2 {
    font-size: 42px;
    color: #2c1810;
    margin-bottom: 20px;

}

#team-message {
    color: #555;
    margin-bottom: 40px;
    font-size: 18px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.team-card {
    width: 280px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.team-card:hover {
    transform: translatey(-10px);
}

.team-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.team-card h3 {
    margin-top: 20px;
    color: #2c1810;
}

.team-card h4 {
    margin-top: 10px;
    color: #d4a373;
}

.team button {
    margin-top: 40px;
    padding: 12px 28px;
    border: none;
    background-color: #d4a373;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.team button:hover {
    background: #b57f50;
}

.contact {
    padding: 80px 8%;
    background: white;
    text-align: center;
}

.contact h2 {
    font-size: 42px;
    color: #2c1810;
    margin-bottom: 40px;

}

.contact form {
    width: 60%;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.contact input:focus,
.contact textarea:focus {
    border-color: #d4a373;
}

.contact button {
    padding: 14px 30px;
    background-color: #d4a373;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.contact button:hover {
    background-color: #b57f50;
}

.footer {
    background-color: #2c1810;
    color: white;
    padding: 50px 8% 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-box {
    flex: 1;
    min-width: 250px;

}

.footer-box h3 {
    margin-bottom: 20px;
    color: #d4a373;
}

.footer-box p {

    line-height: 1.8;

}

.footer-box a {
    color: white;
    font-size: 26px;
    margin-right: 15px;
    transition: .3s;
}

.footer-box a:hover {

    color: #d4a373;

}

.footer hr {
    margin: 30px 0;
    border: 1px solid rgba(255, 255, 255, .2);
}

.copyright {
    text-align: center;
}

@media (max-width: 786px) {
    .navbar {
        flex-direction: column;
        padding: 15px;

    }

    .nav-links {
        flex-direction: column;
        gap: 15;
        margin-top: 15px;

    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    .hero-text {
        width: 100%;
    }

    .hero img {
        width: 90%;
        margin-top: 30px;

    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about img {
        width: 100%;
        margin-bottom: 20px;
    }

    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .gallery-container {
        grid-template-columns: 1fr;

    }

    .testimonial-container {
        flex-direction: column;
        align-items: center;
    }

    .team-container {
        flex-direction: column;
        align-items: center;

    }

    .contact form {
        width: 95%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

.menu-icon {
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
}

@media(max-width:786px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #2c1810;
        text-align: center;
        margin-top: 20px;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }
}

.theme-btn {

    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #d4a373;
    color: white;
    font-size: 18px;
    transition: .3s;

}

.theme-btn:hover {

    background: #b57f50;

}

.dark-mode {

    background: #121212;
    color: white;

}

.dark-mode section {

    background: #121212 !important;
    color: white;

}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode p {

    color: white;

}

.dark-mode .menu-card,
.dark-mode .service-card,
.dark-mode .testimonial-card,
.dark-mode .team-card {

    background: #1f1f1f;
    color: white;

}

#topbtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    padding: 15px 18px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background: #d4a373;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: .3s;
}

#topbtn:hover {
    background: #b57f50;
    transform: scale(1.1);
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c1810;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

#loader h2 {
    color: white;
    margin-top: 20px;
    font-size: 28px;
}

.spinner {
    width: 70px;
    height: 70px;
    border: 8px solid #ffffff;
    border-top: 8px solid #d4a373;
    border-radius: 50%;
    animation: spin 1s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:786px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    button {
        width: 100%;
        margin-top: 15px;
    }

    .menu-card,
    .service-card,
    .testimonial-card,
    .team-card {

        width: 90%;
    }
    .gallery img{
        width: 100%;
        height: auto;
    }
    .hero-image img{ 
        width: 100%;
    }
    .about-image img{
        width: 100%;
    }
}

*{
    transition: all 0.3s ease;
}

::selection{
    background:#d4a373;
    color:white;
 
    

}


::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#f1f1f1;

}

::-webkit-scrollbar-thumb{

    background:#d4a373;
    border-radius:10px;

}

::-webkit-scrollbar-thumb:hover{

    background:#b57f50;

}

.gallery img{

    transition:0.4s;

}

.gallery img:hover{

    transform:scale(1.05);

}
.nav-links a:hover{

    color:#d4a373;

}